[submodule "lib/str"]
	path = lib/str
	url = https://github.com/Hirevo/libstr-c
[submodule "lib/vec"]
	path = lib/vec
	url = https://github.com/Hirevo/libvec-c
[submodule "lib/hmap"]
	path = lib/hmap
	url = https://github.com/Hirevo/libhmap-c
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/Hirevo/libjson-c
